/* here you can put your own css to customize and override the theme */
.page-sidebar .sidebar-toggler{
	margin-bottom: 20px;
}
.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img{
	max-width:unset;
}

/**SORTABLE**/
td.column-type-sortable{

}
.ui-state-highlight { height: 1.5em; line-height: 1.2em; background-color: rgba(255,255,0, 0.3); }

/**FormStatic**/
.form-group-static{
	margin-bottom: 20px;
}
.form-group-static .control-label{
	padding-bottom: 7px;
	width: 100%;
	font-weight: bold;
	border-bottom: 1px solid #EBEBEB;
}
.form-group-static .form-control-static{
	margin-left: 20px;
	font-size: 130%;
}
.form-group-static .help-block{
	margin-left: 20px;
	margin-top:10px !important;
}
.input-group{
	width:100%;
}
.form-fieldset{
	margin-bottom: 80px;
}
.form-fieldset h3{
	border-bottom: 1px solid #666;
}
.form-fieldset .form-fieldset-elements{}
.form-tab-content{
	padding: 20px;
}
.form-nav-tab.nav-tab-has-error{

}
.form-nav-tab.nav-tab-has-error a{
	color: red !important;
	font-weight: bold;
	background-color: #f2dede;
	border: 1px solid red;
	border-bottom:0px;
}
.form-nav-tab.nav-tab-has-error a:hover{
	border: 1px solid red;
	border-bottom:0px;
}

/**PrintView**/
body.print-view{
	background-color: white !important;
	padding: 20px !important;
}
body.print-view .page-sidebar,
body.print-view .footer-tools,
body.print-view .page-header-meta,
body.print-view .widget-toolbars,
body.print-view .header{
	display: none !important;
}
body.print-view .page-header-fixed,
body.print-view .page-content,
body.print-view .page-container{
	padding:0px !important;;margin:0px !important;
}

/**Focused Entity**/
.focusedEntity {
	border-bottom: 1px solid #666;
}
.focusedEntity h3.page-title{
	font-size: 20px;
	margin-left: 10px;
}
.portlet.focusedEntity > .portlet-title{
	margin-bottom: 0px;
}
.widget-toolbars-top{
	margin-bottom: 30px;
}
.widget-note{
	background: none !important;
}

/**TREE VIEW widget**/
.jstree-default .jstree-wholerow-clicked, .jstree-wholerow .jstree-wholerow-clicked{
	background-color: unset !important;
}
.jstree-anchor.jstree-hovered{
	background-color: #E1E1E1 !important;
}